.pad{
  &_null{
    padding:0!important;
  }
  &_5{
    &_full{
      padding: 5px;
    }
    &_horizontal{
      padding: 0 5px;
    }
    &_vertical{
      padding: 5px 0;
    }
    &_top{
      padding-top: 5px;
    }
    &_bottom{
      padding-bottom: 5px;
    }
    &_left{
      padding-left: 5px;
    }
    &_right{
      padding-right: 5px;
    }
  }
  &_10{
    &_full{
      padding: 10px;
    }
    &_horizontal{
      padding: 0 10px;
    }
    &_vertical{
      padding: 10px 0;
    }
    &_top{
      padding-top: 10px;
    }
    &_bottom{
      padding-bottom: 10px;
    }
    &_left{
      padding-left: 10px;
    }
    &_right{
      padding-right: 10px;
    }
  }
  &_15{
    &_full{
      padding: 15px;
    }
    &_horizontal{
      padding: 0 15px;
    }
    &_vertical{
      padding: 15px 0;
    }
    &_top{
      padding-top: 15px;
    }
    &_bottom{
      padding-bottom: 15px;
    }
    &_left{
      padding-left: 15px;
    }
    &_right{
      padding-right: 15px;
    }
  }
  &_20{
    &_full{
      padding: 20px;
    }
    &_horizontal{
      padding: 0 20px;
    }
    &_vertical{
      padding: 20px 0;
    }
    &_top{
      padding-top: 20px;
    }
    &_bottom{
      padding-bottom: 20px;
    }
    &_left{
      padding-left: 20px;
    }
    &_right{
      padding-right: 20px;
    }
  }
}
.margin{
  &_null{
  margin:0;
}
  &_5{
    &_full{
      margin: 5px;
    }
    &_horizontal{
      margin: 0 5px;
    }
    &_vertical{
      margin: 5px 0;
    }
    &_top{
      margin-top: 5px;
    }
    &_bottom{
      margin-bottom: 5px;
    }
    &_left{
      margin-left: 5px;
    }
    &_right{
      margin-right: 5px;
    }
  }
  &_10{
    &_full{
      margin: 10px;
    }
    &_horizontal{
      margin: 0 10px;
    }
    &_vertical{
      margin: 10px 0;
    }
    &_top{
      margin-top: 10px;
    }
    &_bottom{
      margin-bottom: 10px;
    }
    &_left{
      margin-left: 10px;
    }
    &_right{
      margin-right: 10px;
    }
  }
  &_15{
    &_full{
      margin: 15px;
    }
    &_horizontal{
      margin: 0 15px;
    }
    &_vertical{
      margin: 15px 0;
    }
    &_top{
      margin-top: 15px;
    }
    &_bottom{
      margin-bottom: 15px;
    }
    &_left{
      margin-left: 15px;
    }
    &_right{
      margin-right: 15px;
    }
  }
  &_20{
    &_full{
      margin: 20px;
    }
    &_horizontal{
      margin: 0 20px;
    }
    &_vertical{
      margin: 20px 0;
    }
    &_top{
      margin-top: 20px;
    }
    &_bottom{
      margin-bottom: 20px;
    }
    &_left{
      margin-left: 20px;
    }
    &_right{
      margin-right: 20px;
    }
  }
}