@media screen and (min-width: 35.5em) {
  ._size-1, ._size-1-1, ._size-1-2, ._size-1-3, ._size-2-3, ._size-1-4, ._size-3-4, ._size-1-5, ._size-2-5, ._size-3-5, ._size-4-5, ._size-5-5, ._size-1-6, ._size-5-6, ._size-1-8, ._size-3-8, ._size-5-8, ._size-7-8, ._size-1-12, ._size-5-12, ._size-7-12, ._size-11-12, ._size-1-24, ._size-2-24, ._size-3-24, ._size-4-24, ._size-5-24, ._size-6-24, ._size-7-24, ._size-8-24, ._size-9-24, ._size-10-24, ._size-11-24, ._size-12-24, ._size-13-24, ._size-14-24, ._size-15-24, ._size-16-24, ._size-17-24, ._size-18-24, ._size-19-24, ._size-20-24, ._size-21-24, ._size-22-24, ._size-23-24, ._size-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  ._size-1-24 {
    width: 4.1667%;
    *width: 4.1357%
  }
  ._size-1-12, ._size-2-24 {
    width: 8.3333%;
    *width: 8.3023%
  }
  ._size-1-8, ._size-3-24 {
    width: 12.5%;
    *width: 12.469%
  }
  ._size-1-6, ._size-4-24 {
    width: 16.6667%;
    *width: 16.6357%
  }
  ._size-1-5 {
    width: 20%;
    *width: 19.969%
  }
  ._size-5-24 {
    width: 20.8333%;
    *width: 20.8023%
  }
  ._size-1-4, ._size-6-24 {
    width: 25%;
    *width: 24.969%
  }
  ._size-7-24 {
    width: 29.1667%;
    *width: 29.1357%
  }
  ._size-1-3, ._size-8-24 {
    width: 33.3333%;
    *width: 33.3023%
  }
  ._size-3-8, ._size-9-24 {
    width: 37.5%;
    *width: 37.469%
  }
  ._size-2-5 {
    width: 40%;
    *width: 39.969%
  }
  ._size-5-12, ._size-10-24 {
    width: 41.6667%;
    *width: 41.6357%
  }
  ._size-11-24 {
    width: 45.8333%;
    *width: 45.8023%
  }
  ._size-1-2, ._size-12-24 {
    width: 50%;
    *width: 49.969%
  }
  ._size-13-24 {
    width: 54.1667%;
    *width: 54.1357%
  }
  ._size-7-12, ._size-14-24 {
    width: 58.3333%;
    *width: 58.3023%
  }
  ._size-3-5 {
    width: 60%;
    *width: 59.969%
  }
  ._size-5-8, ._size-15-24 {
    width: 62.5%;
    *width: 62.469%
  }
  ._size-2-3, ._size-16-24 {
    width: 66.6667%;
    *width: 66.6357%
  }
  ._size-17-24 {
    width: 70.8333%;
    *width: 70.8023%
  }
  ._size-3-4, ._size-18-24 {
    width: 75%;
    *width: 74.969%
  }
  ._size-19-24 {
    width: 79.1667%;
    *width: 79.1357%
  }
  ._size-4-5 {
    width: 80%;
    *width: 79.969%
  }
  ._size-5-6, ._size-20-24 {
    width: 83.3333%;
    *width: 83.3023%
  }
  ._size-7-8, ._size-21-24 {
    width: 87.5%;
    *width: 87.469%
  }
  ._size-11-12, ._size-22-24 {
    width: 91.6667%;
    *width: 91.6357%
  }
  ._size-23-24 {
    width: 95.8333%;
    *width: 95.8023%
  }
  ._size-1, ._size-1-1, ._size-5-5, ._size-24-24 {
    width: 100%
  }
}

@media screen and (min-width: 48em) {
  ._size-1, ._size-1-1, ._size-1-2, ._size-1-3, ._size-2-3, ._size-1-4, ._size-3-4, ._size-1-5, ._size-2-5, ._size-3-5, ._size-4-5, ._size-5-5, ._size-1-6, ._size-5-6, ._size-1-8, ._size-3-8, ._size-5-8, ._size-7-8, ._size-1-12, ._size-5-12, ._size-7-12, ._size-11-12, ._size-1-24, ._size-2-24, ._size-3-24, ._size-4-24, ._size-5-24, ._size-6-24, ._size-7-24, ._size-8-24, ._size-9-24, ._size-10-24, ._size-11-24, ._size-12-24, ._size-13-24, ._size-14-24, ._size-15-24, ._size-16-24, ._size-17-24, ._size-18-24, ._size-19-24, ._size-20-24, ._size-21-24, ._size-22-24, ._size-23-24, ._size-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  ._size-1-24 {
    width: 4.1667%;
    *width: 4.1357%
  }
  ._size-1-12, ._size-2-24 {
    width: 8.3333%;
    *width: 8.3023%
  }
  ._size-1-8, ._size-3-24 {
    width: 12.5%;
    *width: 12.469%
  }
  ._size-1-6, ._size-4-24 {
    width: 16.6667%;
    *width: 16.6357%
  }
  ._size-1-5 {
    width: 20%;
    *width: 19.969%
  }
  ._size-5-24 {
    width: 20.8333%;
    *width: 20.8023%
  }
  ._size-1-4, ._size-6-24 {
    width: 25%;
    *width: 24.969%
  }
  ._size-7-24 {
    width: 29.1667%;
    *width: 29.1357%
  }
  ._size-1-3, ._size-8-24 {
    width: 33.3333%;
    *width: 33.3023%
  }
  ._size-3-8, ._size-9-24 {
    width: 37.5%;
    *width: 37.469%
  }
  ._size-2-5 {
    width: 40%;
    *width: 39.969%
  }
  ._size-5-12, ._size-10-24 {
    width: 41.6667%;
    *width: 41.6357%
  }
  ._size-11-24 {
    width: 45.8333%;
    *width: 45.8023%
  }
  ._size-1-2, ._size-12-24 {
    width: 50%;
    *width: 49.969%
  }
  ._size-13-24 {
    width: 54.1667%;
    *width: 54.1357%
  }
  ._size-7-12, ._size-14-24 {
    width: 58.3333%;
    *width: 58.3023%
  }
  ._size-3-5 {
    width: 60%;
    *width: 59.969%
  }
  ._size-5-8, ._size-15-24 {
    width: 62.5%;
    *width: 62.469%
  }
  ._size-2-3, ._size-16-24 {
    width: 66.6667%;
    *width: 66.6357%
  }
  ._size-17-24 {
    width: 70.8333%;
    *width: 70.8023%
  }
  ._size-3-4, ._size-18-24 {
    width: 75%;
    *width: 74.969%
  }
  ._size-19-24 {
    width: 79.1667%;
    *width: 79.1357%
  }
  ._size-4-5 {
    width: 80%;
    *width: 79.969%
  }
  ._size-5-6, ._size-20-24 {
    width: 83.3333%;
    *width: 83.3023%
  }
  ._size-7-8, ._size-21-24 {
    width: 87.5%;
    *width: 87.469%
  }
  ._size-11-12, ._size-22-24 {
    width: 91.6667%;
    *width: 91.6357%
  }
  ._size-23-24 {
    width: 95.8333%;
    *width: 95.8023%
  }
  ._size-1, ._size-1-1, ._size-5-5, ._size-24-24 {
    width: 100%
  }
}

@media screen and (min-width: 64em) {
  ._size-1, ._size-1-1, ._size-1-2, ._size-1-3, ._size-2-3, ._size-1-4, ._size-3-4, ._size-1-5, ._size-2-5, ._size-3-5, ._size-4-5, ._size-5-5, ._size-1-6, ._size-5-6, ._size-1-8, ._size-3-8, ._size-5-8, ._size-7-8, ._size-1-12, ._size-5-12, ._size-7-12, ._size-11-12, ._size-1-24, ._size-2-24, ._size-3-24, ._size-4-24, ._size-5-24, ._size-6-24, ._size-7-24, ._size-8-24, ._size-9-24, ._size-10-24, ._size-11-24, ._size-12-24, ._size-13-24, ._size-14-24, ._size-15-24, ._size-16-24, ._size-17-24, ._size-18-24, ._size-19-24, ._size-20-24, ._size-21-24, ._size-22-24, ._size-23-24, ._size-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  ._size-1-24 {
    width: 4.1667%;
    *width: 4.1357%
  }
  ._size-1-12, ._size-2-24 {
    width: 8.3333%;
    *width: 8.3023%
  }
  ._size-1-8, ._size-3-24 {
    width: 12.5%;
    *width: 12.469%
  }
  ._size-1-6, ._size-4-24 {
    width: 16.6667%;
    *width: 16.6357%
  }
  ._size-1-5 {
    width: 20%;
    *width: 19.969%
  }
  ._size-5-24 {
    width: 20.8333%;
    *width: 20.8023%
  }
  ._size-1-4, ._size-6-24 {
    width: 25%;
    *width: 24.969%
  }
  ._size-7-24 {
    width: 29.1667%;
    *width: 29.1357%
  }
  ._size-1-3, ._size-8-24 {
    width: 33.3333%;
    *width: 33.3023%
  }
  ._size-3-8, ._size-9-24 {
    width: 37.5%;
    *width: 37.469%
  }
  ._size-2-5 {
    width: 40%;
    *width: 39.969%
  }
  ._size-5-12, ._size-10-24 {
    width: 41.6667%;
    *width: 41.6357%
  }
  ._size-11-24 {
    width: 45.8333%;
    *width: 45.8023%
  }
  ._size-1-2, ._size-12-24 {
    width: 50%;
    *width: 49.969%
  }
  ._size-13-24 {
    width: 54.1667%;
    *width: 54.1357%
  }
  ._size-7-12, ._size-14-24 {
    width: 58.3333%;
    *width: 58.3023%
  }
  ._size-3-5 {
    width: 60%;
    *width: 59.969%
  }
  ._size-5-8, ._size-15-24 {
    width: 62.5%;
    *width: 62.469%
  }
  ._size-2-3, ._size-16-24 {
    width: 66.6667%;
    *width: 66.6357%
  }
  ._size-17-24 {
    width: 70.8333%;
    *width: 70.8023%
  }
  ._size-3-4, ._size-18-24 {
    width: 75%;
    *width: 74.969%
  }
  ._size-19-24 {
    width: 79.1667%;
    *width: 79.1357%
  }
  ._size-4-5 {
    width: 80%;
    *width: 79.969%
  }
  ._size-5-6, ._size-20-24 {
    width: 83.3333%;
    *width: 83.3023%
  }
  ._size-7-8, ._size-21-24 {
    width: 87.5%;
    *width: 87.469%
  }
  ._size-11-12, ._size-22-24 {
    width: 91.6667%;
    *width: 91.6357%
  }
  ._size-23-24 {
    width: 95.8333%;
    *width: 95.8023%
  }
  ._size-1, ._size-1-1, ._size-5-5, ._size-24-24 {
    width: 100%
  }
}

@media screen and (min-width: 80em) {
  ._size-1, ._size-1-1, ._size-1-2, ._size-1-3, ._size-2-3, ._size-1-4, ._size-3-4, ._size-1-5, ._size-2-5, ._size-3-5, ._size-4-5, ._size-5-5, ._size-1-6, ._size-5-6, ._size-1-8, ._size-3-8, ._size-5-8, ._size-7-8, ._size-1-12, ._size-5-12, ._size-7-12, ._size-11-12, ._size-1-24, ._size-2-24, ._size-3-24, ._size-4-24, ._size-5-24, ._size-6-24, ._size-7-24, ._size-8-24, ._size-9-24, ._size-10-24, ._size-11-24, ._size-12-24, ._size-13-24, ._size-14-24, ._size-15-24, ._size-16-24, ._size-17-24, ._size-18-24, ._size-19-24, ._size-20-24, ._size-21-24, ._size-22-24, ._size-23-24, ._size-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  ._size-1-24 {
    width: 4.1667%;
    *width: 4.1357%
  }
  ._size-1-12, ._size-2-24 {
    width: 8.3333%;
    *width: 8.3023%
  }
  ._size-1-8, ._size-3-24 {
    width: 12.5%;
    *width: 12.469%
  }
  ._size-1-6, ._size-4-24 {
    width: 16.6667%;
    *width: 16.6357%
  }
  ._size-1-5 {
    width: 20%;
    *width: 19.969%
  }
  ._size-5-24 {
    width: 20.8333%;
    *width: 20.8023%
  }
  ._size-1-4, ._size-6-24 {
    width: 25%;
    *width: 24.969%
  }
  ._size-7-24 {
    width: 29.1667%;
    *width: 29.1357%
  }
  ._size-1-3, ._size-8-24 {
    width: 33.3333%;
    *width: 33.3023%
  }
  ._size-3-8, ._size-9-24 {
    width: 37.5%;
    *width: 37.469%
  }
  ._size-2-5 {
    width: 40%;
    *width: 39.969%
  }
  ._size-5-12, ._size-10-24 {
    width: 41.6667%;
    *width: 41.6357%
  }
  ._size-11-24 {
    width: 45.8333%;
    *width: 45.8023%
  }
  ._size-1-2, ._size-12-24 {
    width: 50%;
    *width: 49.969%
  }
  ._size-13-24 {
    width: 54.1667%;
    *width: 54.1357%
  }
  ._size-7-12, ._size-14-24 {
    width: 58.3333%;
    *width: 58.3023%
  }
  ._size-3-5 {
    width: 60%;
    *width: 59.969%
  }
  ._size-5-8, ._size-15-24 {
    width: 62.5%;
    *width: 62.469%
  }
  ._size-2-3, ._size-16-24 {
    width: 66.6667%;
    *width: 66.6357%
  }
  ._size-17-24 {
    width: 70.8333%;
    *width: 70.8023%
  }
  ._size-3-4, ._size-18-24 {
    width: 75%;
    *width: 74.969%
  }
  ._size-19-24 {
    width: 79.1667%;
    *width: 79.1357%
  }
  ._size-4-5 {
    width: 80%;
    *width: 79.969%
  }
  ._size-5-6, ._size-20-24 {
    width: 83.3333%;
    *width: 83.3023%
  }
  ._size-7-8, ._size-21-24 {
    width: 87.5%;
    *width: 87.469%
  }
  ._size-11-12, ._size-22-24 {
    width: 91.6667%;
    *width: 91.6357%
  }
  ._size-23-24 {
    width: 95.8333%;
    *width: 95.8023%
  }
  ._size-1, ._size-1-1, ._size-5-5, ._size-24-24 {
    width: 100%
  }
}