@import "../required/variables/colors/greens";
.grid h1 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}
#global {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header {
  position: absolute;
  height: 8%;
}
.center {
  position: absolute;
  top: 8%;
  height: 80%;
}
.footer {
  position: absolute;
  bottom: 0px;
  height: 12%;
}
.green {
  background-color: $green;
  &_text {
    color: $green;
  }
}

.greenDark {
  background-color: $greenDark;
  & _text {
    color: $greenDark;
  }
}

.greenDarker {
  background-color: $greenDarker;
  & _text {
    color: $greenDarker;
  }
}

.greenLight {
  background-color: $greenLight;
  & _text {
    color: $greenLight;
  }
}

.greenLighter {
  background-color: $greenLighter;
  & _text {
    color: $greenLighter;
  }
}

.greenDull {
  background-color: $greenDull;
  & _text {
    color: $greenDull;
  }
}

.greenDuller {
  background-color: $greenDuller;
  & _text {
    color: $greenDuller;
  }
}

.greenBright {
  background-color: $greenBright;
  & _text {
    color: $greenBright;
  }
}

.greenBrighter {
  background-color: $greenBrighter;
  & _text {
    color: $greenBrighter;
  }
}

.greenApple {
  background-color: $greenApple;
  & _text {
    color: $greenApple;
  }
}

.greenAsparagus {
  background-color: $greenAsparagus;
  & _text {
    color: $greenAsparagus;
  }
}

.greenOlive {
  background-color: $greenOlive;
  & _text {
    color: $greenOlive;
  }
}

.greenFern {
  background-color: $greenFern;
  & _text {
    color: $greenFern;
  }
}

.greenForest {
  background-color: $greenForest;
  & _text {
    color: $greenForest;
  }
}

.greenHunter {
  background-color: $greenHunter;
  & _text {
    color: $greenHunter;
  }
}

.greenMint {
  background-color: $greenMint;
  & _text {
    color: $greenMint;
  }
}

.greenOffice {
  background-color: $greenOffice;
  & _text {
    color: $greenOffice;
  }
}

.greenSea {
  background-color: $greenSea;
  & _text {
    color: $greenSea;
  }
}

.greenSpring {
  background-color: $greenSpring;
  & _text {
    color: $greenSpring;
  }
}

.greenTeal {
  background-color: $greenTeal;
  & _text {
    color: $greenTeal;
  }
}

.greenEvernote {
  background-color: $greenEvernote;
  & _text {
    color: $greenEvernote;
  }
}

.greenForrst {
  background-color: $greenForrst;
  & _text {
    color: $greenForrst;
  }
}

.greenGroupon {
  background-color: $greenGroupon;
  & _text {
    color: $greenGroupon;
  }
}

.greenKickstarter {
  background-color: $greenKickstarter;
  & _text {
    color: $greenKickstarter;
  }
}

.greenNvidia {
  background-color: $greenNvidia;
  & _text {
    color: $greenNvidia;
  }
}

.greenSpotify {
  background-color: $greenSpotify;
  & _text {
    color: $greenSpotify;
  }
}

.greenZerply {
  background-color: $greenZerply;
  & _text {
    color: $greenZerply;
  }
}

.greenSpa {
  background-color: $greenSpa;
  & _text {
    color: $greenSpa;
  }
}

.greenFalls {
  background-color: $greenFalls;
  & _text {
    color: $greenFalls;
  }
}

.greenGranada {
  background-color: $greenGranada;
  & _text {
    color: $greenGranada;
  }
}

.greenGarland {
  background-color: $greenGarland;
  & _text {
    color: $greenGarland;
  }
}

.greenParrot {
  background-color: $greenParrot;
  & _text {
    color: $greenParrot;
  }
}

.greenCreek {
  background-color: $greenCreek;
  & _text {
    color: $greenCreek;
  }
}

.greenKiwi {
  background-color: $greenKiwi;
  & _text {
    color: $greenKiwi;
  }
}

.greenLime {
  background-color: $greenLime;
  & _text {
    color: $greenLime;
  }
}

.greenZurb {
  background-color: $greenZurb;
  & _text {
    color: $greenZurb;
  }
}