/*
Error: Undefined variable: "$em-base".
        on line 21 of /home/david-maser/DEV/alti-bootstrap/assets/scss/base/required/functions/_modular-scale.scss
        from line 17 of /home/david-maser/DEV/alti-bootstrap/assets/scss/globals.scss

16: @import "base/required/functions/unpack";
17: @import "base/required/functions/modular-scale";
18: 
19: //import mixin definitions
20: @import "base/required/mixins/border-color";
21: @import "base/required/mixins/border-radius";
22: @import "base/required/mixins/border-style";
23: @import "base/required/mixins/border-width";
24: @import "base/required/mixins/buttons";
25: @import "base/required/mixins/clearfix";
26: @import "base/required/mixins/ellipsis";

Backtrace:
/home/david-maser/DEV/alti-bootstrap/assets/scss/base/required/functions/_modular-scale.scss:21
/home/david-maser/DEV/alti-bootstrap/assets/scss/globals.scss:17
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:123:in `each'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:123:in `each_with_index'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:123:in `each'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:123:in `map'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/funcall.rb:123:in `_perform'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:458:in `visit_variable'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/usr/share/applications/koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/usr/share/applications/koala/bin/sass:18:in `load'
/usr/share/applications/koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$em-base\".\A         on line 21 of /home/david-maser/DEV/alti-bootstrap/assets/scss/base/required/functions/_modular-scale.scss\A         from line 17 of /home/david-maser/DEV/alti-bootstrap/assets/scss/globals.scss\A \A 16: @import \"base/required/functions/unpack\";\A 17: @import \"base/required/functions/modular-scale\";\A 18: \A 19: //import mixin definitions\A 20: @import \"base/required/mixins/border-color\";\A 21: @import \"base/required/mixins/border-radius\";\A 22: @import \"base/required/mixins/border-style\";\A 23: @import \"base/required/mixins/border-width\";\A 24: @import \"base/required/mixins/buttons\";\A 25: @import \"base/required/mixins/clearfix\";\A 26: @import \"base/required/mixins/ellipsis\";"; }
