$altiBlack:#000;
$altiDarkGray:#333;
$altiLightGray:#ccc;
$altiBrown:#b08453;
$altiRed:#f30;
$altiBlue:#0cf;
$altiRedButton:#d64615;
$altiFont:"Roboto","Lucida Grande",sans-serif;
$altiFontCondensed:"Roboto Condensed","Lucida Grande",sans-serif;