._form input[type=text], ._form input[type=password], ._form input[type=email], ._form input[type=url], ._form input[type=date], ._form input[type=month], ._form input[type=time], ._form input[type=datetime], ._form input[type=datetime-local], ._form input[type=week], ._form input[type=number], ._form input[type=search], ._form input[type=tel], ._form input[type=color], ._form select, ._form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
._form input:not([type]) {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
._form input[type=color] {
  padding: .2em .5em;
}
._form input[type=text]:focus, ._form input[type=password]:focus, ._form input[type=email]:focus, ._form input[type=url]:focus, ._form input[type=date]:focus, ._form input[type=month]:focus, ._form input[type=time]:focus, ._form input[type=datetime]:focus, ._form input[type=datetime-local]:focus, ._form input[type=week]:focus, ._form input[type=number]:focus, ._form input[type=search]:focus, ._form input[type=tel]:focus, ._form input[type=color]:focus, ._form select:focus, ._form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}
._form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA;
}
._form input[type=file]:focus, ._form input[type=radio]:focus, ._form input[type=checkbox]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}
._form ._checkbox, ._form ._radio {
  margin: .5em 0;
  display: block;
}
._form input[type=text][disabled], ._form input[type=password][disabled], ._form input[type=email][disabled], ._form input[type=url][disabled], ._form input[type=date][disabled], ._form input[type=month][disabled], ._form input[type=time][disabled], ._form input[type=datetime][disabled], ._form input[type=datetime-local][disabled], ._form input[type=week][disabled], ._form input[type=number][disabled], ._form input[type=search][disabled], ._form input[type=tel][disabled], ._form input[type=color][disabled], ._form select[disabled], ._form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
._form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
._form input[readonly], ._form select[readonly], ._form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}
._form input:focus:invalid, ._form textarea:focus:invalid, ._form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
._form input[type=file]:focus:invalid:focus, ._form input[type=radio]:focus:invalid:focus, ._form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d;
}
._form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}
._form select[multiple] {
  height: auto;
}
._form label {
  margin: .5em 0 .2em;
}
._form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0;
}
._form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
._form-stacked input[type=text], ._form-stacked input[type=password], ._form-stacked input[type=email], ._form-stacked input[type=url], ._form-stacked input[type=date], ._form-stacked input[type=month], ._form-stacked input[type=time], ._form-stacked input[type=datetime], ._form-stacked input[type=datetime-local], ._form-stacked input[type=week], ._form-stacked input[type=number], ._form-stacked input[type=search], ._form-stacked input[type=tel], ._form-stacked input[type=color], ._form-stacked input[type=file], ._form-stacked select, ._form-stacked label, ._form-stacked textarea {
  display: block;
  margin: .25em 0;
}
._form-stacked input:not([type]) {
  display: block;
  margin: .25em 0;
}
._form-aligned input, ._form-aligned textarea, ._form-aligned select, ._form-aligned ._help-inline, ._form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
._form-aligned textarea {
  vertical-align: top;
}
._form-aligned ._control-group {
  margin-bottom: .5em;
}
._form-aligned ._control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
._form-aligned ._controls {
  margin: 1.5em 0 0 11em;
}
._form input._input-rounded, ._form ._input-rounded {
  border-radius: 2em;
  padding: .5em 1em;
}
._form ._group fieldset {
  margin-bottom: 10px;
}
._form ._group input, ._form ._group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}
._form ._group input:focus, ._form ._group textarea:focus {
  z-index: 3;
}
._form ._group input:first-child, ._form ._group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
._form ._group input:first-child:last-child, ._form ._group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}
._form ._group input:last-child, ._form ._group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}
._form ._group button {
  margin: .35em 0;
}
._form ._input-1 {
  width: 100%}
._form ._input-2-3 {
  width: 66%}
._form ._input-1-2 {
  width: 50%}
._form ._input-1-3 {
  width: 33%}
._form ._input-1-4 {
  width: 25%}
._form ._help-inline, ._form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em;
}
._form-message {
  display: block;
  color: #666;
  font-size: .875em;
}
@media only screen and (max-width :480px) {
  ._form button[type=submit] {
    margin: .7em 0 0;
  }
  ._form input:not([type]), ._form input[type=text], ._form input[type=password], ._form input[type=email], ._form input[type=url], ._form input[type=date], ._form input[type=month], ._form input[type=time], ._form input[type=datetime], ._form input[type=datetime-local], ._form input[type=week], ._form input[type=number], ._form input[type=search], ._form input[type=tel], ._form input[type=color], ._form label {
    margin-bottom: .3em;
    display: block;
  }
  ._group input:not([type]), ._group input[type=text], ._group input[type=password], ._group input[type=email], ._group input[type=url], ._group input[type=date], ._group input[type=month], ._group input[type=time], ._group input[type=datetime], ._group input[type=datetime-local], ._group input[type=week], ._group input[type=number], ._group input[type=search], ._group input[type=tel], ._group input[type=color] {
    margin-bottom: 0;
  }
  ._form-aligned ._control-group label {
    margin-bottom: .3em;
    text-align: left;
    display: block;
    width: 100%}
  ._form-aligned ._controls {
    margin: 1.5em 0 0;
  }
  ._form ._help-inline, ._form-message-inline, ._form-message {
    display: block;
    font-size: .75em;
    padding: .2em 0 .8em;
  }
}