._table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
._table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
._table td, ._table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}
._table td:first-child, ._table th:first-child {
  border-left-width: 0;
}
._table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
._table td {
  background-color: transparent;
}
._table-odd td {
  background-color: #f2f2f2;
}
._table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}
._table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}
._table-bordered tbody>tr:last-child>td {
  border-bottom-width: 0;
}
._table-horizontal td, ._table-horizontal th {
  border-width: 0 0 1px;
  border-bottom: 1px solid #cbcbcb;
}
._table-horizontal tbody>tr:last-child>td {
  border-bottom-width: 0;
}